{%load static%}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'gameregister/css/index.css' %}" rel="stylesheet" />

    <link href="http://fonts.googleapis.com/earlyaccess/notosansjp.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="{% static 'gameregister/js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'gameregister/js/button.js' %}"></script>
    <title>GameRegister</title>
</head>
<body>
    {% block body %}

    {% endblock %}
</body>
</html>