{% extends "gameregister/base.html" %}
{% load static %}

{% block body %}
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <h1 class="page-title">{{title}}</h1>
            </div>
            <div class="body">
                <p>{{message|safe}}</p>
                <h2>提出物について</h2>
                <ul>
                    <li>ゲームタイトル</li>
                    <li>企画者名</li>
                    <li>GameID</li>
                    <li>ゲームの説明文</li>
                    <li>圧縮したゲームディレクトリ</li>
                    <li>展示用パネル画像(1)</li>
                    <li>紹介用画像(1～3)</li>
                    <li>紹介用動画(0～1)</li>
                </ul>
                <h2>前ページを読み以下のチェックボックスを確認</h2>
                <h3>1.ゲームファイル</h3>
                <div class="fieldWrapper">
                    <input id="check_1-1" name="check_1-1" type="checkbox">
                    <label for="check_1-1">1.1実行できるゲームファイル一式を用意した（素材など含め）。</label>
                </div>
                <div class="fieldWrapper">
                    <input id="check_1-2" name="check_1-2" type="checkbox">
                    <label for="check_1-2">1.2ゲームのルートディレクトリにゲームの起動用実行ファイルがある。</label>
                </div>
                <div class="fieldWrapper">
                    <input id="check_1-3" name="check_1-3" type="checkbox">
                    <label for="check_1-3">1.3ゲームのルートディレクトリにゲーム起動用以外の実行ファイルが無い。</label>
                </div>
                <div class="fieldWrapper">
                    <input id="check_1-4" name="check_1-4" type="checkbox">
                    <label for="check_1-4">1.4ゲームの実行に必要の無いファイルが無い。</label>
                </div>
                <div class="fieldWrapper">
                    <input id="check_1-5" name="check_1-5" type="checkbox">
                    <label for="check_1-5">1.5ゲーム実行中"ESCキー"でゲームが直ちに終了する。</label>
                </div>
                <div class="fieldWrapper">
                    <input id="check_1-6" name="check_1-6" type="checkbox">
                    <label for="check_1-6">1.6ゲームに使用した素材、ライブラリなどのライセンスに問題が無い。</label>
                </div>

                <h3>2.ゲーム情報</h3>
                <div class="fieldWrapper">
                    <input id="check_2-1" name="check_2-1" type="checkbox">
                    <label for="check_2-1">2.1正式なゲームタイトルを用意した。</label>
                </div>
                <div class="fieldWrapper">
                    <input id="check_2-2" name="check_2-2" type="checkbox">
                    <label for="check_2-2">2.2自分のゲームのIDを把握している。</label>
                </div>
                <div class="fieldWrapper">
                    <input id="check_2-3" name="check_2-3" type="checkbox">
                    <label for="check_2-3">2.3初めての見る人に理解しやすい説明分を用意した。</label>
                </div>

                <h3>3.その他ランチャー用ファイル</h3>
                <div class="fieldWrapper">
                    <input id="check_3-1" name="check_3-1" type="checkbox">
                    <label for="check_3-1">3.1ランチャー用のパネル画像を用意した。</label>
                </div>
                <div class="fieldWrapper">
                    <input id="check_3-2" name="check_3-2" type="checkbox">
                    <label for="check_3-2">3.2パネル画像は提示されている規格に準じている。</label>
                </div>
                <div class="fieldWrapper">
                    <input id="check_3-3" name="check_3-3" type="checkbox">
                    <label for="check_3-3">3.3ランチャー用のゲーム紹介画像を最低1枚、最高3枚を用意した。</label>
                </div>
                <div class="fieldWrapper">
                    <input id="check_3-4" name="check_3-4" type="checkbox">
                    <label for="check_3-4">3.4紹介画像はすべて提示されている規格に準じている。</label>
                </div>
                <div class="fieldWrapper">
                    <input id="check_3-5" name="check_3-5" type="checkbox">
                    <label for="check_3-5">3.5ランチャーの紹介用動画を用意した（ある場合のみ）。</label>
                </div>
                <div class="fieldWrapper">
                    <input id="check_3-6" name="check_3-6" type="checkbox">
                    <label for="check_3-6">3.6紹介用動画は提示されている規格に準じている（ある場合のみ）。</label>
                </div>

                <br /><br />
                <div class="fieldWrapper">
                    <input id="check_1-7" name="check_1-7" type="checkbox">
                    <label for="check_1-7">1.7公序良俗に反する表現や内容、一般常識から逸脱する表現がない。</label>
                </div>
                <div class="lp-button">
                    <button class="button back-button" onClick="location.href='/'">戻る</button>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
