{% extends "gameregister/base.html" %}
{% load static %}

{% block body %}
<script>
    $('#js-selectFile').on('click', 'button', function () {
        $('#js-upload').click();
        return false;
    });

    $('#js-upload').on('change', function () {
        //選択したファイル情報を取得し変数に格納
        var file = $(this).prop('files')[0];
        //アイコンを選択中に変更
        $('#js-selectFile').find('.icon').addClass('select').html('選択中');
        //未選択→選択の場合（.filenameが存在しない場合）はファイル名表示用の<div>タグを追加
        if (!($('.filename').length)) {
            $('#js-selectFile').append('<div class="filename"></div>');
        };
        //ファイル名を表示
        $('.filename').html('ファイル名：' + file.name);
    });
</script>
<p>{{message|safe}}</p>
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <h1>{{title}}</h1>
            </div>
            <div class="body">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="fieldWrapper">
                        {{ form.name.errors }}
                        <label for="{{ form.name.id_for_label }}">ゲーム名:</label>
                        {{ form.name }}
                    </div>
                    <div class="fieldWrapper">
                        {{ form.representative.errors }}
                        <label for="{{ form.representative.id_for_label }}">企画者:</label>
                        {{ form.representative }}
                    </div>
                    <div class="fieldWrapper idnumber">
                        {{ form.game_id.errors }}
                        <label for="{{ form.game_id.id_for_label }}" class="row">GameID:</label>
                        {{ form.game_id }}
                    </div>
                    <div class="fieldWrapper">
                        {{ form.discription.errors }}
                        <label for="{{ form.discription.id_for_label }}">Discription:</label>
                        {{ form.discription }}
                    </div>
                    <div class="header">
                        <h1>ファイル登録</h1>
                    </div>
                    <div class="fieldWrapperfile">
                        {{ form.gamefile.errors }}
                        <label for="{{ form.gamefile.id_for_label }}">gamefile:</label>
                        <div class="fileform">
                            {{ form.gamefile }}
                        </div>
                    </div>
                    <div class="fieldWrapperfile">
                        {{ form.panel.errors }}
                        <label for="{{ form.panel.id_for_label }}">panelfile:</label>
                        <div class="fileform">
                            {{ form.panel }}
                        </div>
                    </div>
                    <div class="fieldWrapperfile">
                        {{ form.picture_1.errors }}
                        <label for="{{ form.picture_1.id_for_label }}">画像1:</label>
                        <div class="fileform">
                            {{ form.picture_1 }}
                        </div>
                    </div>
                    <div class="fieldWrapperfile">
                        {{ form.picture_2.errors }}
                        <label for="{{ form.picture_2.id_for_label }}">画像2:</label>
                        <div class="fileform">
                            {{ form.picture_2 }}
                        </div>
                    </div>
                    <div class="fieldWrapperfile">
                        {{ form.picture_2.errors }}
                        <label for="{{ form.picture_2.id_for_label }}">画像3:</label>
                        <div class="fileform">
                            {{ form.picture_2 }}
                        </div>
                    </div>
                    <div class="fieldWrapperfile ">
                        {{ form.movie.errors }}
                        <label for="{{ form.movie.id_for_label }}">moviefile:</label>
                        <div class="fileform">
                            {{ form.movie }}
                        </div>
                    </div>
                    <div class="formsend">
                        <input type="submit" value="送信">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
    {% endblock %}
