{% extends "gameregister/base.html" %}
{% load static %}

{% block body %}
<p>{{message|safe}}</p>
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <h1>{{title}}</h1>
            </div>
            <div class="body">
                <form method="post" action="">
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>name</th>
                                <th>初期提出時間</th>
                                <th>最終更新時間</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in data %}
                            <tr>
                                <td>{{ item.game_id }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.created_at }}</td>
                                <td>{{ item.updated_at }}</td>
                                <td><a href="{% url 'edit' item.game_id %}">更新画面へ</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
