{% extends "gameregister/base.html" %}
{% load static %}

{% block body %}
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <h1>{{title}}</h1>
            </div>
            <div class="body">
                <p>{{message|safe}}</p>
                <h2>提出物について</h2>
                <ul>
                    <li>ゲームタイトル</li>
                    <li>企画者名</li>
                    <li>GameID</li>
                    <li>ゲームの説明文</li>
                    <li>圧縮したゲームディレクトリ</li>
                    <li>展示用パネル画像(1)</li>
                    <li>紹介用画像(1～3)</li>
                    <li>紹介用動画(0～1)</li>
                </ul>
                <h2>レギュレーション</h2>
                <ol>
                    <li>期限を厳守すること。</li>
                    <li>ESCキーが押された場合直ちにゲームを終了する。</li>
                    <li>使用した素材、ライブラリのライセンスに注意すること。</li>
                    <li>ゲームの実行に不必要なファイルを提出しないこと。</li>
                    <li>実行、プレイできる物を提出すること。</li>
                    <li>公序良俗に反する表現や内容、一般常識から逸脱する表現をしないこと。</li>
                </ol>
                <h2>提出について</h2>
                <p>提出後自動的にUUIDが発行されます。今後更新したい場合に必要になるので各個人で保存しておいて下さい。そのままコピーして保存してもらっても構いません。外部には漏らさないように注意して下さい。</p>
                <h2>更新について</h2>
                <p>提出時に発行されたUUIDが必要になります。他人に勝手に更新されるのを防ぐ為です。入力時に無駄なスペースなどが無いか注意して下さい。発行時に表示されるハイフンも入力対象です。</p>
                <p class="highlight">
                    例)
                    980a3fe3-450e-4849-80c3-f308ed5e21b5
                </p>
            </div>
            <h2>上記の内容を理解した場合のみ、次のボタンを押して下さい。</h2>
            <div class="lp-button">
                <button class="button" onClick="location.href='/register'">提出</button>
                <button class="button" onClick="location.href='/index'">更新</button>
            </div>
        </div>
    </div>
</section>

{% endblock %}
