{% extends "gameregister/base.html" %}
{% load static %}

{% block body %}
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <h1 class="page-title">{{title|safe}}</h1>
            </div>
            <div class="body">
                <p>{{message|safe}}</p>

                <h2>提出物について</h2>
                <ul>
                    <li>ゲームタイトル</li>
                    <li>企画者名</li>
                    <li>GameID</li>
                    <li>ゲームの説明文</li>
                    <li>圧縮したゲームディレクトリ</li>
                    <li>展示用パネル画像(1)</li>
                    <li>紹介用画像(1～3)</li>
                    <li>紹介用動画(0～1)</li>
                </ul>

                <h2>レギュレーション</h2>
                <ol>
                    <li>期限を厳守すること。</li>
                    <li>ESCキーが押された場合直ちにゲームを終了する。</li>
                    <li>使用した素材、ライブラリのライセンスに注意すること。</li>
                    <li>ゲームの実行に不必要なファイルを提出しないこと。</li>
                    <li>実行、プレイできる物を提出すること。</li>
                    <li>公序良俗に反する表現や内容、一般常識から逸脱する表現をしないこと。</li>
                </ol>

                <h2>ゲームディレクトリ</h2>
                <p>ゲームの実行ファイル、その他素材、外部スクリプトをまとめて圧縮して下さい。ゲームのルートディレクトリに実行ファイルを置いて下さい。ゲームのルートディレクトリにはその他の実行ファイルを置かないようにして下さい。</p>
                <p class="highlight">
                    例)<br />
                    root/<br />
                    ├ img/<br />
                    ├ movie/<br />
                    ├ data/<br />
                    │　└ sub.exe<br />
                    └ game.exe<br />
                </p>

                <h2>パネル画像規格</h2>
                <table class="standard-table">
                    <thead>
                        <tr>
                            <th class="standard-th">項目</th>
                            <th class="standard-th">規格</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="standard-td">画像サイズ</td>
                            <td class="standard-td"></td>
                        </tr>
                        <tr>
                            <td class="standard-td">ファイルフォーマット</td>
                            <td class="standard-td"></td>
                        </tr>
                        <tr>
                            <td class="standard-td">ファイルサイズ</td>
                            <td class="standard-td"></td>
                        </tr>
                        <tr>
                            <td class="standard-td">アスペクト比</td>
                            <td class="standard-td"></td>
                        </tr>

                    </tbody>
                </table>

                <h2>紹介画像規格</h2>
                <table class="standard-table">
                    <thead>
                        <tr>
                            <th class="standard-th">項目</th>
                            <th class="standard-th">規格</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="standard-td">画像サイズ</td>
                            <td class="standard-td"></td>
                        </tr>
                        <tr>
                            <td class="standard-td">ファイルフォーマット</td>
                            <td class="standard-td"></td>
                        </tr>
                        <tr>
                            <td class="standard-td">ファイルサイズ</td>
                            <td class="standard-td"></td>
                        </tr>
                        <tr>
                            <td class="standard-td">アスペクト比</td>
                            <td class="standard-td"></td>
                        </tr>

                    </tbody>
                </table>

                <h2>紹介動画規格</h2>
                <table class="standard-table">
                    <thead>
                        <tr>
                            <th class="standard-th">項目</th>
                            <th class="standard-th">規格</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="standard-td">画像サイズ</td>
                            <td class="standard-td"></td>
                        </tr>
                        <tr>
                            <td class="standard-td">ファイルフォーマット</td>
                            <td class="standard-td"></td>
                        </tr>
                        <tr>
                            <td class="standard-td">ファイルサイズ</td>
                            <td class="standard-td"></td>
                        </tr>
                        <tr>
                            <td class="standard-td">アスペクト比</td>
                            <td class="standard-td"></td>
                        </tr>

                    </tbody>
                </table>



                <h2>提出について</h2>

                <p>提出後自動的にUUIDが発行されます。今後更新したい場合に必要になるので各個人で保存しておいて下さい。そのままコピーして保存してもらっても構いません。外部には漏らさないように注意して下さい。</p>

                <h2>更新について</h2>
                <p>提出時に発行されたUUIDが必要になります。他人に勝手に更新されるのを防ぐ為です。入力時に無駄なスペースなどが無いか注意して下さい。発行時に表示されるハイフンも入力対象です。</p>
                <p class="highlight uuid">
                    例)
                    980a3fe3-450e-4849-80c3-f308ed5e21b5
                </p>
                <p>更新ボタンを押すと、現在提出されている一覧が表示されます。その中から自分のゲームを探し、"更新画面へ"をクリックして下さい。</p>

                <h2>提出期限</h2>
                <p>提出期限は厳守して下さい。また期限間際は混雑が予想されるので、できるだけ余裕をもって提出して下さい。</p>

                <h2>確認ページ</h2>
                <p>確認いやすいようにチェックボックス式の確認ページを作成しました。不安がある方は利用して下さい。</p>
                <button class="button" onClick="location.href='/confirmation'">確認ページへ</button>

                <h2 class="agree-above">すべて確認後、次のボタンを押して下さい。</h2>
                <div class="lp-button">
                    <button class="button" onClick="location.href='/register'">提出</button>
                    <button class="button" onClick="location.href='/index'">更新</button>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
