{% extends "gameregister/base.html" %}
{% load static %}

{% block body %}
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <h1>{{title}}</h1>
            </div>
            <div class="body">
                <p>{{message|safe}}</p>
                <h2>提出物について</h2>
                <ul>
                    <li>ゲームタイトル</li>
                    <li>企画者名</li>
                    <li>GameID</li>
                    <li>ゲームの説明文</li>
                    <li>圧縮したゲームディレクトリ</li>
                    <li>展示用パネル画像(1)</li>
                    <li>紹介用画像(1～3)</li>
                    <li>紹介用動画(0～1)</li>
                </ul>
                <h2>レギュレーション</h2>
                <ol>
                    <li>期限を厳守すること。</li>
                    <li>ESCキーが押された場合直ちにゲームを終了する。</li>
                    <li>使用した素材、ライブラリのライセンスに注意すること。</li>
                    <li>ゲームの実行に不必要なファイルを提出しないこと。</li>
                    <li>実行、プレイできる物を提出すること。</li>
                    <li>公序良俗に反する表現や内容、一般常識から逸脱する表現をしないこと。</li>
                </ol>
            </div>
        </div>
    </div>
</section>

{% endblock %}
