{% extends "gameregister/base.html" %}
{% load static %}

{% block body %}
<p>{{message|safe}}</p>
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <h1 class="page-title">{{title|safe}}</h1>
            </div>
            <div class="body">
                <table>
                    <thead>
                        <tr>
                            <th>GameID</th>
                            <th>展示ID</th>
                            <th>名前</th>
                            <th>最終更新時間</th>
                            <th>動画リンク</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in data %}
                        <tr>
                            <td>{{ item.game_id }}</td>
                            {% if item.display_id != None %}
                            <td>{{ item.display_id }}</td>
                            {% else %}
                            <td></td>
                            {% endif %}
                            <td>{{ item.name }}</td>
                            <td>{{ item.updated_at }}</td>
                            {% if item.movie_2.url != "" %}
                            <td><a href="{{item.movie_2.url|safe}}">{{ item.movie_2.name }}</a></td>
                            {% else %}
                            <td>未提出</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            <button class="button small-button back-button" onClick="location.href='/'">戻る</button>
            </div>
        </div>
    </div>
</section>
{% endblock %}
