.errorlist {
    color: red;
}

.error input, .error select {
    border: 2px red solid;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="file"] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


.original_btn {
    border: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    color: #666;
    background: linear-gradient(to bottom,#fff 0,#f4f4f4 100%);
    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.09);
}

.icon {
    font-size: 12px;
    margin: 0 10px 0 15px;
    padding: 3px 30px;
    border-radius: 15px;
    background: #666;
    color: #fff;
    display: inline-block;
}

    .icon.select {
        background: #ff5050;
        color: #fff;
    }

.filename {
    display: inline-block;
    font-size: 12px;
}


label > input {
    display: none; /* アップロードボタンのスタイルを無効にする */
}

/*index*/

table {
    margin:10px;
    font-size:14pt;
}

table tr th {
    background-color:#009;
    color:white;
    padding:2px, 10px;
    border-width:2px;
}

table tr td {
    background-color:#eee;
    color:#666;
    padding:2px, 10px;
    border-width:2px;
}